<template id="titleBarTemplate">

  <link rel="stylesheet" href="title-bar.css"/>

  <div id="windowControls">

    <div class="control">
      <svg viewBox="0 0 256 256">
        <use href="../../assets/icons/regular.svg#minimize"></use>
      </svg>
    </div>

    <div class="control">
      <svg viewBox="0 0 256 256">
        <use href="../../assets/icons/regular.svg#maximize"></use>
      </svg>
    </div>

    <div class="control">
      <svg viewBox="0 0 256 256">
        <use href="../../assets/icons/regular.svg#close"></use>
      </svg>
    </div>

  </div>

</div>