<template id="playerTemplate">

  <link rel="stylesheet" href="player.css"/>

  <div class="group left">

    <div class="album-art">
      <img id="albumArt" src="../../assets/images/default-art.png" alt=""/>
    </div>

    <div class="container info">
      <div class="title">
        <slot id="titleSlot" name="title">-</slot>
      </div>
      <div class="artist">
        <slot id="artistSlot" name="artist">-</slot>
      </div>
    </div>

    <div class="container row player-controls">

      <button id="likeControl" class="control icon">
        <svg viewBox="0 0 256 256">
          <use class="for-inactive" href="../../assets/icons/regular.svg#liked"/>
          <use class="for-active" href="../../assets/icons/filled.svg#liked"/>
        </svg>
      </button>

      <button id="previousControl" class="control icon">
        <svg viewBox="0 0 256 256">
          <use href="../../assets/icons/regular.svg#previous"/>
        </svg>
      </button>

      <button id="playbackControl" class="control icon bigger">
        <svg viewBox="0 0 256 256">
          <use class="for-paused" href="../../assets/icons/regular.svg#resume"/>
          <use class="for-playing" href="../../assets/icons/filled.svg#pause"/>
          <use class="for-ended" href="../../assets/icons/filled.svg#play"/>
        </svg>
      </button>

      <button id="nextControl" class="control icon">
        <svg viewBox="0 0 256 256">
          <use href="../../assets/icons/regular.svg#next"/>
        </svg>
      </button>

    </div>

  </div>

  <div class="group right display">

    <div id="lyrics-area"></div>

  </div>

  <div class="group right">

    <div class="container row w-fill progress">
      <div class="duration">
        <slot id="playedTimeSlot" name="playedTime">00:00</slot>
      </div>
      <div class="container w-fill display">
        <canvas width="100" height="40" id="progress-bar"></canvas>
      </div>
      <div class="duration">
        <slot id="durationSlot" name="duration">00:00</slot>
      </div>
    </div>

    <div class="container row player-controls">

      <button id="lyricsControl" class="control icon">
        <svg viewBox="0 0 256 256">
          <use class="for-inactive" href="../../assets/icons/regular.svg#lyrics"/>
          <use class="for-active" href="../../assets/icons/filled.svg#lyrics"/>
        </svg>
      </button>

    </div>

  </div>

</template>